body {
    background: linear-gradient(147deg, gold 11%, rgba(108,138,93,1) 34%, rgba(182,251,28,1) 35%, gold 35%, rgba(106,137,81,1) 57%, rgba(167,251,28,1) 95%); 
  }

  .music-app .carousel-multi-item .carousel-inner.v-2 .carousel-item-right.active,
  .music-app .carousel-multi-item .carousel-inner.v-2 .carousel-item-next {
    transform: translateX(33%); }
  
  .music-app .carousel-multi-item .carousel-inner.v-2 .carousel-item-left.active,
  .music-app .carousel-multi-item .carousel-inner.v-2 .carousel-item-prev {
    transform: translateX(-33%); }
  
  .music-app .carousel-multi-item .carousel-indicators li {
    height: 0.1rem;
    width: 1.25rem;
    max-width: 1.25rem;
    background-color:red;
    margin-bottom: 0px;
    border-radius: 0; }
  
  .music-app .carousel-multi-item .rounded {
    border-radius: 0.3rem !important; 
}
  
  .music-app .blue-gradient-rgba {
    background: linear-gradient(40deg, rgba(69, 202, 252, 0.5), rgba(48, 63, 159, 0.5)) !important; }
  
  .music-app .blue-gradient-rgba-player {
    background: linear-gradient(40deg, rgba(69, 202, 252, 0.6), rgba(48, 63, 159, 0.6)) !important; }
  
  .music-app .peach-gradient-rgba {
    background: linear-gradient(40deg, rgba(255, 216, 111, 0.7), rgba(252, 98, 98, 0.7)) !important; }
  
  .music-app .purple-gradient-rgba {
    background: linear-gradient(40deg, rgba(255, 110, 196, 0.7), rgba(120, 115, 245, 0.7)) !important; }
  
  .music-app .aqua-gradient-rgba {
    background: linear-gradient(40deg, rgba(32, 150, 255, 0.7), rgba(5, 255, 163, 0.7)) !important; }
  
  .music-app .font-small {
    font-size: 0.8rem; }
  
  .music-app .mobile-rounded {
    border-radius: 2.5rem; }
  
  .music-app .card-body {
    background-color: white;
    width: auto; }
  
  .music-app .touch-button-wrapper {
    height: 3rem; }
    .music-app .touch-button-wrapper .touch-button {
      width: 40px;
      height: 40px;
      background-color: #f2efef;
      border-radius: 50%; }
  
  .music-app .music-player {
    height: 20rem; }
    .music-app .music-player .music-img {
      width: 10rem;
      height: 10rem; }
  
  .music-app .active-item {
    border-bottom: 2px solid #000; }
  
  .music-app .playlists .media img {
    height: 60px;
    width: 60px; }
  
  .card h5 a {
    color: #0d47a1;
  }
  .card h5 a:hover {
    color: #072f6b;
  }
  
  #pButton {
    float: left; 
  }
  
  #timeline {
    width: 90%;
    height: 2px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3); 
  }
  
  #pButton {
    margin-top: -.55rem;
    float:none;
    cursor: pointer; 
  }
  
  #playhead {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -3px;
    background: black;
    cursor: pointer; 
  }

  .jumbotron {
    /*background: rgb(238, 233, 233);*/
    background: none;
    width: 100%;
    padding: 20px;
    max-height: 625px;
  }

.mask {
  margin: -5px;
}